<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Title!</title>

            {# jQuery #}
            <script src="{{ asset('bundles/yourlifeweb/jquery/jquery-2.0.3.min.js') }}" type="text/javascript"></script>

            {# Bootstrap #}
            <link href="{{ asset('bundles/yourlifeweb/bootstrap/bootstrap-3.0.0/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/yourlifeweb/bootstrap/bootstrap-3.0.0/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
            <script src="{{ asset('bundles/yourlifeweb/bootstrap/bootstrap-3.0.0/js/bootstrap.min.js') }}" type="text/javascript"></script>

            {# App styles and scripts #}
            <link href="{{ asset('bundles/yourlifeweb/style.css') }}" rel="stylesheet" type="text/css" />
            <script src="{{ asset('bundles/yourlifeweb/script.js') }}" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Life is good!</h1>
        {% endblock %}
    </body>
</html>