{% extends 'YourLifeWebBundle:Root:index.html.twig' %}

{% block content %}
    {% if missions is not null %}
        {% for mission in missions %}
            <div class="mission">
                <h4>{{ mission.title }}</h4>
                <h5>{{ mission.description }}</h5>
                {% for photo in mission.photos %}
                    <a href="{{ photo.medium }}" class="fancybox">
                        <img src="{{ photo.small }}" />
                    </a>
                {% endfor %}
                <h5>Очков за успешное выполнение: {{ mission.points }}</h5>
                <h5>Уровень пользователя: {{ mission.userLevel }}</h5>
                <h5>Время на выполнение: {{ mission.executionTime }}</h5>
                {% if mission.closeConditions is not null %}
                    <h5>Условия сдачи миссии: {{ mission.closeConditions.text }}</h5>
                {% endif %}
                <a class="btn btn-default btn-sm" href="{{ path('your_life_web_mission_start', {id: mission.id}) }}">
                    Я это выполню!
                </a>
            </div>
        {% endfor %}
    {% else %}
        <h2>Для Вас нет доступных миссий</h2>
    {% endif %}
{% endblock %}