{% extends 'YourLifeWebBundle:Root:index.html.twig' %}

{% block content %}
    <h1>Доступные Вам миссии</h1>
    {% if missions is not null %}
        {% for mission in missions %}
            <div class="mission">
                <h4>{{ mission.title }}</h4>
                <h5>{{ mission.description }}</h5>
                <h5>Изображения миссии:</h5>
                {% for photo in mission.photos %}
                    <a href="/uploads/yourlife/mission/{{ photo.medium }}" class="fancybox">
                        <img src="/uploads/yourlife/mission/{{ photo.small }}" />
                    </a>
                {% else %}
                    изображений нет
                {% endfor %}
                <h5>Очков за успешное выполнение: {{ mission.points }}</h5>
                <h5>Уровень пользователя: {{ mission.userLevel }}</h5>
                <h5>Время на выполнение: {{ mission.executionTime }}</h5>

                {% if mission.closeConditions is not null %}
                    <h5>Условия сдачи миссии: {{ mission.closeConditions.text }}</h5>
                {% endif %}
                <form method="post" action="{{ path('your_life_web_mission', {id: mission.id}) }}">
                    <button type="submit" class="btn btn-primary btn-sm" name="mission_result_action" value="accept">
                        Я это выполню!
                    </button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h2>Для Вас нет доступных миссий</h2>
    {% endif %}
{% endblock %}